*{
    font-family: 'Times New Roman', Times, serif;
}

.carousel-item {
    height: 30vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.card-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.m-0{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*FOOTER START*/

section.footer {
    background-color: black;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    padding: 0;
}
  
.footer__content {
    padding: 25px;
    text-align: center;
    color: #fff;
    background-color: black;
}

.footer__content img {
    width: 5%;
    position: absolute;
    top: -50px;
    border: 1px solid red;
}

.footer__heading {
    position: relative;
}

.footer__heading h2 {
    background-color: black;
    display: inline-block;
    padding: 0px 10px;
    border: 1px solid;  
    position: relative;
    z-index: 9999;
}

.footer__heading::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    height: 5px;
    margin: 0;
    border-radius: 50px;
    width: 20%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.footer__content p {
    font-size: 12px;
    font-weight: 100;
    padding: 13px 0px;
}

ul.social__media {
    margin-left: 15px;
    padding: 0;
    display: inline-block;
    margin-top: 15px;
}

ul.social__media li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

ul.social__media li a {
    color: #fff;
    font-size: 20px;
}

ul.social__media li {
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: tomato;
    line-height: 40px;
    border: 2px solid black;
    box-shadow: 0px 1px #fff;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55),
      0 0px 20px 0px rgba(0, 0, 0, 0.55);
}
   
ul.bus__list {
    padding: 0;
    margin: 0;
}
   
ul.bus__list li {
    list-style-type: none;
    margin-bottom: 5px;
}
   
/*FOOTER END*/

.fa-shopping-cart {    
    color:white;   
    padding: 10px;
    margin-left: 10px;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background: red;
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
    line-height: normal;
    border: none;
}

.back-to-top:hover{
    opacity: 0.8;
}

.fa-arrow-up:hover{
    color: blue;
}
   
#mob1{
    margin-left: 100px;
}
#odaberi1{
    margin-left: 120px;
}
#pojedinost{
    text-align: center;
}

.card-header{
    background-color: white;
    border: 0;
}

#ponuda1{
    margin-left: 120px;
}

#ponuda2{
    margin-left: 60px;
    padding: 40px;
}

#ponuda3{
    padding: 40px;
    margin-left: 70px;
}

#ponuda3X{
    padding: 50px;
    margin-left: 70px;
}
#motog7{
    margin-left: 70px;
}
.h-100:hover{
    box-shadow: 0 0 8px 1px rgba(0, 140, 186, 0.5);
}

#gallery-modal .modal-img{
    width: 100%;
    height: auto;
}

@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

.modal-img:hover {
    animation-name: spin3D;
    animation-duration: 5s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
}
img{
    cursor:pointer;
}

.dugme{
    margin-top: 250px;
}
.img-responsive{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: 250px;
}

.card{
    height: 100%; 
  }