*{
    font-family: 'Times New Roman', Times, serif;
}

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
section.footer {
    background-color: black;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    padding: 0;
}
  
.footer__content {
    padding: 25px;
    text-align: center;
    color: #fff;
    background-color: black;
}

.footer__content img {
    width: 5%;
    position: absolute;
    top: -50px;
    border: 1px solid red;
}

.footer__heading {
    position: relative;
}

.footer__heading h2 {
    background-color: black;
    display: inline-block;
    padding: 0px 10px;
    border: 1px solid;  
    position: relative;
    z-index: 9999;
}

.footer__heading::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    height: 5px;
    margin: 0;
    border-radius: 50px;
    width: 20%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.footer__content p {
    font-size: 12px;
    font-weight: 100;
    padding: 13px 0px;
}

ul.social__media {
    margin-left: 15px;
    padding: 0;
    display: inline-block;
    margin-top: 15px;
}

ul.social__media li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

ul.social__media li a {
    color: #fff;
    font-size: 20px;
}

ul.social__media li {
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: tomato;
    line-height: 40px;
    border: 2px solid black;
    box-shadow: 0px 1px #fff;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55),
      0 0px 20px 0px rgba(0, 0, 0, 0.55);
}
   
ul.bus__list {
    padding: 0;
    margin: 0;
}
   
ul.bus__list li {
    list-style-type: none;
    margin-bottom: 5px;
}
.fa-shopping-cart {    
    color:white;   
    padding: 10px;
    margin-left: 10px;
}
.breadcrumb {
    box-shadow: 1px 1px #d5d4d4;
    background: #eeeded;
    border: 1px solid #eeeded;
    border-radius: 5px;
    padding: 0 5px 0 10px !important;
    font-size: 16px;
    line-height:2em;
}

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}