.breadcrumb {
    box-shadow: 1px 1px #d5d4d4;
    background: #eeeded;
    border: 1px solid #eeeded;
    border-radius: 5px;
    padding: 0 5px 0 10px !important;
    font-size: 16px;
    line-height:2em;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
  
.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}
  
.button-24:active {
    opacity: .5;
}
  
  
  /*FOOTER START*/
  
section.footer {
      background-color: black;
      position: relative;
      font-family: Verdana, Geneva, Tahoma, sans-serif;;
      padding: 0;
}
    
.footer__content {
      padding: 25px;
      text-align: center;
      color: #fff;
      background-color: black;
}
  
.footer__content img {
      width: 5%;
      position: absolute;
      top: -50px;
      border: 1px solid red;
}
  
.footer__heading {
      position: relative;
}
  
.footer__heading h2 {
      background-color: black;
      display: inline-block;
      padding: 0px 10px;
      border: 1px solid;  
      position: relative;
      z-index: 9999;
}
  
.footer__heading::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 45%;
      height: 5px;
      margin: 0;
      border-radius: 50px;
      width: 20%;
      transform: translate(-50%, -50%);
      background-color: rgb(255, 255, 255);
}
  
.footer__content p {
      font-size: 12px;
      font-weight: 100;
      padding: 13px 0px;
}
  
ul.social__media {
      margin-left: 15px;
      padding: 0;
      display: inline-block;
      margin-top: 15px;
}
  
ul.social__media li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;
}
  
ul.social__media li a {
      color: #fff;
      font-size: 20px;
}
  
ul.social__media li {
      text-align: center;
      height: 45px;
      width: 45px;
      border-radius: 50px;
      background-color: tomato;
      line-height: 40px;
      border: 2px solid black;
      box-shadow: 0px 1px #fff;
      box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55),
        0 0px 20px 0px rgba(0, 0, 0, 0.55);
}
     
ul.bus__list {
      padding: 0;
      margin: 0;
}
     
ul.bus__list li {
      list-style-type: none;
      margin-bottom: 5px;
}
     
  /*FOOTER END*/
  
.fa-shopping-cart {    
      color:white;   
      padding: 10px;
      margin-left: 10px;
}
  
.back-to-top {
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 99;
      background: red;
      color: #fff;
      border-radius: 30px;
      padding: 15px;
      font-weight: bold;
      line-height: normal;
      border: none;
}
  
.back-to-top:hover{
      opacity: 0.8;
}
  
.fa-arrow-up:hover{
      color: blue;
}

.filtar{
    width: 230px;
}

#proizvodac_p{
    font-size: 25px;
    margin-left: auto;
}
#proizvodac{
    font-size: 25px;
    margin-left: auto;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem;
    padding-bottom: 0.24rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
   
    cursor: pointer;
  }

.checkbox > input:checked {
    border: 1px solid #41B883;
    background-color: #34495E;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #41B883;
    position: absolute;
    left: 0.5rem;
    top: 0.1rem;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}

.radiobox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.radiobox > span {
    color: #34495E;
    padding: 0.5rem;
    padding-bottom: 0.30rem;
}

.radiobox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px 
    solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
  
    cursor: pointer;
  }

.radiobox > input:checked {
    border: 1px solid #41B883;
    background-color: #34495E;
}

.radiobox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #41B883;
    position: absolute;
    left: 0.5rem;
    top: 0.1rem;
}

.radiobox > input:active {
    border: 2px solid #34495E;
}

span{
    margin-bottom: 10px;
}

.card_mob1{
    width: 370px;
}
.card_mob2{
    margin-left: 253px;
    width: 370px;
}
.filtar{height: auto;}


.d-flex a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
}
  
.d-flex a:hover {
    background-color: #ddd;
    color: black;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
}
  
.next {
    background-color: #04AA6D;
    color: white;
  }
  
.round {
    border-radius: 50%;
}

.card_mob1:hover{
    box-shadow: 0 0 8px 1px rgba(0, 140, 186, 0.5);
}
.card_mob2:hover{
    box-shadow: 0 0 8px 1px rgba(0, 140, 186, 0.5);
}

.motoe7 img{
    margin-right: 100px;
}